@media only screen and (max-width: 1024px) {
  .slide img {
    max-width: 500px;
  }
  .satisfclients {
    right: 0px;
  }
  .hireme {
    text-align: center;
  }
  .hidden {
    display: none;
  }
  .aboutmesec{
    flex-direction: column;
  }
  .aboutme{
    max-width: none;
    margin-bottom: 10px;
  }
  .myskills{
    max-width: none;
  }
  .contact-adresses{
    text-align: center;
  }
  .seemore1024 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    padding-top: 5%;
    color: #131a36;
  }
  .seemore1024 a:after {
    color: white;
    background-color: #e93656;
    border: none;
  }
  .designarticle,
  .articleimg {
    width: 100%;
  }
  .articleitems {
    flex-direction: column;
  }
  .reverse {
    flex-direction: column-reverse;
  }
  .proj-list{
    height: revert;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-right: 0;
  }
}
